<div class="bg-gray-100 py-16">
    <!-- Meet Our Team Section -->
    <div class="container mx-auto px-6 lg:px-16 mb-16">
        <h1 class="text-4xl lg:text-5xl font-extrabold text-green-800 text-center mb-12">
            {{ meetOurTeamTitle }}
        </h1>

        <!-- Ian Matchado -->
        <div class="flex flex-col md:flex-row items-center bg-white rounded-lg shadow-lg overflow-hidden mb-12">
            <img [src]="ianMatchadoImage" alt="{{ ianMatchadoAlt }}" class="w-1/2 h-auto object-cover" />

            <div class="p-8 md:w-1/2 text-center md:text-left">
                <h2 class="text-2xl font-bold text-green-800 mb-4">
                    {{ ianMatchadoName }}
                </h2>
                <p class="text-lg text-gray-600 mb-4">
                    {{ ianMatchadoDescription }}
                </p>
                <p class="text-lg text-gray-600">
                    {{ ianMatchadoPosition }}
                </p>
            </div>
        </div>

        <!-- Jojo Campos -->
        <div class="flex flex-col md:flex-row-reverse items-center bg-white rounded-lg shadow-lg overflow-hidden mb-12">
            <img [src]="jojoCamposImage" alt="{{ jojoCamposAlt }}" class="w-1/2 h-auto object-cover" />

            <div class="p-8 md:w-1/2 text-center md:text-left">
                <h2 class="text-2xl font-bold text-green-800 mb-4">
                    {{ jojoCamposName }}
                </h2>
                <p class="text-lg text-gray-600 mb-4">
                    {{ jojoCamposDescription }}
                </p>
                <p class="text-lg text-gray-600">
                    {{ jojoCamposPosition }}
                </p>
            </div>
        </div>

        <!-- Noli Kempis -->
        <div class="flex flex-col md:flex-row items-center bg-white rounded-lg shadow-lg overflow-hidden">
            <img [src]="noliKempisImage" alt="{{ noliKempisAlt }}" class="w-1/2 h-auto object-cover" />

            <div class="p-8 md:w-1/2 text-center md:text-left">
                <h2 class="text-2xl font-bold text-green-800 mb-4">
                    {{ noliKempisName }}
                </h2>
                <p class="text-lg text-gray-600 mb-4">
                    {{ noliKempisDescription }}
                </p>
                <p class="text-lg text-gray-600">
                    {{ noliKempisPosition }}
                </p>
            </div>
        </div>
    </div>
</div>